<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container border border-info rounded" hidden$={{logado}}>
      <div class="row">
        <h1>Ingreso a la App</h1>
      </div>
      <div class="row col-lg-12">
        Emal:
      </div>
      <div class="row col-lg-12">
        <input type="email" value="{{email::input}}">
      </div>
      <div class="row col-lg-12">
        Contrase&ntilde;a:
      </div>
      <div class="row col-lg-12">
        <input type="password" value="{{password::input}}">
      </div>
      <div class="row col-lg-12">
        <button on-click="login" class="btn btn-info">Ingresar</button><br>
      </div>
    </div>
    <div class="container">
      <div class="row" hidden$={{!logado}}>
        <span>Bienvendo a la App</span>
      </div>      
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/v2/login"
      content-type = "application/json"
      crossDomain:true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },

        };
      }
      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        }
        console.log(this.email + " " + this.password);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Petición Enviada por Iron Ajax');
      }

      manageAJAXResponse(data){
        console.log('Respuesta OK');
        this.logado = true;
      }

      showError(error){
        console.error('Error de ejecución Iron Ajax',error);
        alert('Validar usuario y contraseña');
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
