<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="my-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img width="100px" height="200px" src="https://image.flaticon.com/icons/svg/808/808513.svg" alt="" class="col-xs-12 col-lg-8">
      </div>
      <div class="row">
        <button type="button" name="button" class="btn btn-warning col-xs-12 col-lg-4" on-click="increment">Load Data</button>
      </div>
      <div class="row">
        <br>
        <br>
        Bidireccional: <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <br>
        Unidireccional: <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Flor</td>
              <td>Martinez</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Deneb</td>
              <td>Garc&iacute;a</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyVisor extends Polymer.Element {
      static get is() { return 'my-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indicar usuario'
          },

        };
      }
      increment(){
        this.prop2 = this.prop2 +1;
        console.log("prop1: " + this.prop1);
        console.log("prop2: " + this.prop2);
      }
    }

    window.customElements.define(MyVisor.is, MyVisor);
  </script>
</dom-module>
